/*darken and lighten i main
  color: darken/lighten($red, 10%)*/
/*orange*/
/*white*/
/*black*/
/*consumer focus*/
/*enterprise focus*/
/*mixture*/
/*mix with white*/
/*backgrounds, graphics, pictograms, dot patterns, charts and diagrams/large size text.*/
/*For typography, particularly body copy.*/
/*Text grey is used for small size headings, sub-headings and body copy text only.*/
/* line 5, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
.current {
  background-color: #c34113;
  padding: 5px;
  padding-bottom: 10%;
  border-radius: 10px;
}

/* line 12, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Ubuntu", sans-serif;
}

/* line 17, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
body img {
  display: block;
}

/* line 22, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#infobox {
  background-image: url("https://www.visitcopenhagen.com/sites/default/files/asp/visitcopenhagen/Corporate/TUT2018/oksnehallen_1700x600.png");
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30% 50%;
  color: #ffffff;
  height: 500px;
  padding-left: 15px;
  padding-top: 5%;
}

/* line 31, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#infobox a {
  color: #e95420;
  text-decoration: none;
}

/* line 37, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
.grid1 p {
  background-color: #e95420;
  padding: 1%;
  font-size: 110%;
}

/* line 43, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
header {
  margin: 10px 0px 10px 0px;
  background-image: url("../img/png/ubuntu_white-orange.png");
  background-color: #e95420;
  padding: 15px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2%;
}

/* line 53, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
header h2 {
  float: right;
  margin-left: 15px;
}

/* line 57, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 120%;
}

/* line 64, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
article {
  border: solid 1px transparent;
  border-radius: 10px;
  margin: 5px 15px 25px 15px;
}

/* line 70, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#tilmed {
  background-color: #f4f3f2;
  padding: 15px;
}

/* line 73, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#tilmed h1 {
  text-align: center;
}

/* line 78, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
.gridsimple {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* line 83, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
.nyheder {
  background-color: #f4f3f2;
  color: #111111;
  display: grid;
  justify-items: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-column-gap: 5%;
  padding: 1% 2%;
  padding-left: 18%;
}

/* line 92, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
.nyheder h3 {
  color: #e95420;
  text-align: center;
}

/* line 98, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#links {
  background-color: #5e2750;
  color: #ffffff;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0%;
  text-align: center;
  padding: 15px;
}

/* line 106, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#links img {
  display: inline-block;
  width: 20%;
  height: 20%;
}

/* line 113, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
footer {
  background-color: #e95420;
  padding: 15px;
  color: #ffffff;
  width: 97%;
  margin: auto;
}

/* line 121, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#program {
  background-color: #5e2750;
  display: grid;
  justify-items: center;
  grid-template-columns: 45% 45%;
  grid-gap: 5%;
}

/* line 127, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#program div {
  margin: 1%;
  background-color: #f4f3f2;
  padding-left: 8%;
  padding-right: 7%;
  padding-bottom: 10%;
  padding-top: 2%;
  border-radius: 10px;
  width: 56%;
  text-align: center;
}

/* line 138, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#program h1, #program h3 {
  text-transform: capitalize;
  color: #111111;
}

/* line 142, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#program h3 {
  font-size: 170%;
}

/* line 145, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#program a {
  color: #111111;
  font-size: 120%;
  text-transform: capitalize;
}

/* line 150, C:/Users/Eevee/Documents/GitHub/ubunto/scss/main.scss */
#program #daylink {
  font-size: 70%;
  display: block;
}

/*# sourceMappingURL=../css/main.map */