/*darken and lighten i main
  color: darken/lighten($red, 10%)*/

$orange: #e95420; /*orange*/
$white: #ffffff; /*white*/
$black: #000000; /*black*/

$lau: #77216f; /*consumer focus*/
$aub: #5e2750; /*enterprise focus*/
$dau: #2c001e; /*mixture*/
$cau: ##772953; /*mix with white*/

$wgrey: #aea79f; /*backgrounds, graphics, pictograms, dot patterns, charts and diagrams/large size text.*/
$cgrey: #333333; /*For typography, particularly body copy.*/
$tgrey: #111111; /*Text grey is used for small size headings, sub-headings and body copy text only.*/
