@import 'color';
@import 'font';
@import 'variable';

.current{
  background-color: darken($orange, 10%);
  padding: 5px;
  padding-bottom: 10%;
  border-radius: $borderr;
}

body {
  background-color: $white;
  color: $cgrey;
  font-family: $default;

  img{
    display: block;
  }
}

#infobox{
  background-image: url("https://www.visitcopenhagen.com/sites/default/files/asp/visitcopenhagen/Corporate/TUT2018/oksnehallen_1700x600.png");
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30% 50%;
  color: $white;
  height: 500px;
  padding-left: 15px;
  padding-top: 5%;
  a{
    color: $orange;
    text-decoration: none;
  }
}

.grid1 p{
  background-color: $orange;
  padding: 1%;
  font-size: 110%;
}

header {
  margin: $marginh;
  background-image: url("../img/png/ubuntu_white-orange.png");
  background-color: $orange;
  padding: $fifteen;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2%;

  h2{
    float: right;
    margin-left: 15px;
  }
  a{
    color: $white;
    text-decoration: none;
    font-size: 120%;
  }
}

article{
  border: $border;
  border-radius: $borderr;
  margin: $margin;
}

#tilmed{
  background-color: lighten($wgrey, 30%);
  padding: 15px;
  h1{
    text-align: center;
  }
}

.gridsimple{
  display: grid;
  grid-template-columns: 50% 50%;
}

.nyheder{
  background-color: lighten($wgrey, 30%);
  color: $tgrey;
  display: grid;
  justify-items: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-column-gap: 5%;
  padding: 1% 2%;
  padding-left: 18%;
  h3{
    color: $orange;
    text-align:center;
  }
}

#links{
  background-color: $aub;
  color: $white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0%;
  text-align: center;
  padding: 15px;
  img{
    display: inline-block;
    width: 20%;
    height: 20%;
  }
}

footer {
  background-color: $orange;
  padding: $fifteen;
  color: $white;
  width: 97%;
  margin: auto;
}

#program{
  background-color: lighten($orange, 10%);
  border: 2px solid;
  border-color: lighten($orange, 20%);
  display: grid;
  justify-items: center;
  grid-template-columns: 45% 45%;
  grid-gap: 5%;
  div{
    margin: 1%;
    background-color: lighten($wgrey, 30%);
    padding-left: 8%;
    padding-right: 7%;
    padding-bottom: 10%;
    padding-top: 2%;
    border-radius: $borderr;
    width: 56%;
    text-align: center;
  }
  h1, h3{
    text-transform: capitalize;
    color:$tgrey
  }
  h3{
    font-size: 170%;
  }
  a{
    color: $tgrey;
    font-size: 120%;
    text-transform: capitalize;
  }
  #daylink{
    font-size: 70%;
    display: block;
  }
}
